<div class="row providers">
  <table class="span12 table-striped table-bordered table-hover">
    <tbody>
      <% @providers.each do |provider| %>
        <tr class="provider">
          <td> <%= provider.name.last %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div class="row">
