<div class="row providers">
  <table class="span12 table-striped table-bordered table-hover">
    <tbody>
      <% @providers.each do |p| %>
        <tr class="provider">
          <td> <%= p.name %> </td>
          <td> <%= p.specialty.name %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div class="row">
