<div class="span8 offset2">
  <div class="search-header row">
    <h1 class="search-header">Doctrs</h1>
  </div>
  <form class="form-search row" action="/search">
    <div class="input-append span8">
      <input type="text" class="input-xxlarge search-query" id="query" name="query" placeholder="Search providers by name" />
      <button type="submit" class="btn">Search</button>
    </div>
  </form>
</div>
